---
import Social from "./Social.astro";


---

<style>
  footer {
    color: #fff;
    background: #0f0f0f;
    padding: 0.75rem 1.57rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
    
  }
</style>

<footer>
  <p>Learn more about my project on:</p>
  <Social platform="Twitter" username="CreativeDadDev" />
  <Social platform="Github" username="creative-dad-dev" />
  <Social platform="Discord" username="creativedadd" />
 
</footer>